<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Actividades<span *ngIf="type">: {{ type }}</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="query" placeholder="Buscar"></ion-searchbar>

  <section>
    <ion-segment [(ngModel)]="segmentValue" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="nearby">
        <ion-label>Cerca</ion-label>
      </ion-segment-button>
    </ion-segment>

    <app-item-list [items]="activities" basePath="activities/detail"></app-item-list>
  </section>
</ion-content>
