<ion-app>
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Mi App</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">Home</ion-item>
        <ion-item routerLink="/activities" routerDirection="root">Actividades</ion-item>
        <ion-item routerLink="/profile" routerDirection="root">Perfil</ion-item>
        <ion-item routerLink="/events" routerDirection="root">Eventos</ion-item>
        <ion-item routerLink="/camera" routerDirection="root">Galería</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
