<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mi UI con Ionic</strong>
    <p>Explora las actividades disponibles y navega rápidamente.</p>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Explora actividades</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" color="primary" (click)="irA('futbol')">
          <ion-icon slot="start" name="football-outline"></ion-icon>
          Fútbol
        </ion-button>
        <ion-button expand="block" color="tertiary" (click)="irA('basket')">
          <ion-icon slot="start" name="basketball-outline"></ion-icon>
          Básquetbol
        </ion-button>
      </ion-card-content>
    </ion-card>

    <section>
      <h3>Agregar tarea</h3>
      <app-task-form (created)="onCreated($event)"></app-task-form>
    </section>

    <section>
      <h3>Lista de tareas</h3>
      <app-item-list [items]="tasks"></app-item-list>
    </section>

    <section>
      <h3>Galería de tarjetas</h3>
      <app-card-gallery></app-card-gallery>
    </section>
  </div>
</ion-content>
